@import "../../styles/Responsive.scss";

.movie-update-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include respond(phone) {
    flex-direction: column;
    gap: 1rem;
  }
  &__textarea {
    resize: none;
    height: 10rem;
  }
  &__controls {
    display: flex;
    @include respond(phone) {
      flex-direction: column;
      margin-left: 0rem;
      gap: 1rem;
    }
    &--ok {
      margin-right: 2rem;
      @include respond(phone) {
        margin-right: 0rem;
      }
    }
    &--cancel {
      display: flex;
      margin-left: 2rem;
      @include respond(phone) {
        margin-left: 0rem;
      }
    }
  }
}
