@import "../../styles/Responsive.scss";

.movies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-top: 8rem;
  padding-inline: 6rem;
  @include respond(phone) {
    margin-top: 4rem;
    padding-inline: 0;
  }
  @include respond(tab-large) {
    grid-template-columns: 1fr;
  }
}
