//////////
$color-gray-light: #ccc;
$color-gray-light-2: #c5c5c5;
$color-gray-light-3: #ddd;
$color-gray-dark: #707070;
$color-gray-light-4: #f5f5f5;
$color-gray-light-5: #f3f3f3;

$color-white: #fff;
$color-black: #000;

$color-primary: #9b59b6;
$color-primary-dark: #8e44ad;

$color-secondary: #1abc9c;

$color-tertiary: #ffef5f;

$color-danger: #e74c3c;

$color-invalid-background: #ffe6e6;
$color-invalid-border: #ff8e8e;

$color-valid-background: #e6ffe7;
$color-valid-border: #49d351;

//////////
$font-primary: "Raleway", sans-serif;

$color-success: #ddf3dd;
$color-success-dark: #00c500;
$color-success-dark-2: #00d000;

$color-snackbar-danger: #f3dddd;
$color-snackbar-danger-dark: #c50000;

$color-warning: #fff3cd;
$color-warning-dark: #856404;

$zIndex-5: 99999;
