@import "../../../styles/Variables.scss";
@import "../../../styles/Responsive.scss";

.category {
  font-size: 2rem;
  margin-bottom: 2rem;
  &__header {
    background-color: $color-primary;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 1rem;
    color: $color-white;
    font-size: 1.7rem;
    border-radius: 3px;
  }
  &__icon {
    margin-right: 1rem;
  }
  &__name {
    position: relative;
    font-weight: 400;
    margin-right: auto;
  }
  &__data {
    position: relative;
    transition: all 0.3s ease;
    @include respond(phone) {
      padding-top: 9rem;
      padding-inline: 1rem;
    }
    &-item {
      position: relative;
      display: grid;
      grid-template-columns: 15rem max-content;
      margin-bottom: 5rem;
      @media screen and (max-width: 37.5em) {
        grid-template-columns: 1fr;
      }

      &--label {
        position: relative;
        margin-right: 3rem;
        font-weight: 600;
      }
      &--value {
        position: relative;
        font-weight: 400;
      }
    }
  }
}
